<!DOCTYPE html>
<html>
    <head>
        <title>굿바이 시나트라</title>
        <meta charset="utf-8">
    </head>
    <body>
        <a href="/signup">회원가입</a>
        <a href="/login">로그인</a>
        <%= yield %>
    </body>
</html>