<!DOCTYPE html>
<html>
    <head>
        <title>투표앱</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>등록하기<h1>
        <form action="/register">
            <input type="text" name="name">
            <input type="submit">
        </form>
    </body>
</html>