<!DOCTYPE html>
<html>
    <head>
        <title>투표앱</title>
    </head>
    <body>
        <h1>당신의 소년/소녀들을 뽑아주세요 </h1>
        <form action="/voted">
            <input type="radio" name="girls" value="sm">소미
            <input type="radio" name="girls" value="sj">세정
            <input type="radio" name="girls" value="cy">채연
            <input type="radio" name="girls" value="sh">소혜
            <input type="radio" name="girls" value="yj">유정
            <input type="submit">
        </form>
    </body>
</html>