<h1>홍석 반장으로 적합한가?</h1>
<form action="/vote">
   이름 : <input type="text" name="name">
   <p>찬반 투표</p>
    <input type="radio" name="pro" value="1">찬성
    <input type="radio" name="pro" value="0">반대
    <input type="submit">
</form>