<h1>게시판</h1>
<form action="/create">
    <input type="text" name="title">
    <input type="text" name="content">
    <input type="submit">
</form>

<% @posts.each do |p| %>
<p>제목 : <%= p.title %></p>
<p>내용 : <%= p.body %></p>
<% end %>