<form action="/signup">
    이름 : <input type="text" name="name">
    전공 : <input type="text" name="major">
    학번 : <input type="text" name="year">
    전번 : <input type="text" name="phone_number">
    이멜 : <input type="text" name="email">
    <input type="submit">
</form>