<form action="/blogs/create">
  <div class="form-group">
    <label for="exampleInputEmail1">제목</label>
    <input name="title" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="제목을 입력하세요">
  </div>
  
  <div class="form-group">
    <label for="exampleInputPassword1">내용</label>
    <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="8" placeholder="내용을 입력해주세요"></textarea>
  </div>
  
  <div class="form-group">
    <label for="exampleInputPassword1">태그</label>
    <input name="tag" type="text" class="form-control" id="exampleInputPassword1" placeholder="# 으로 구분하여 입력해주세요">
    <small id="emailHelp" class="form-text text-muted">ex)#냥이 #야옹야옹</small>
  </div>
  
  <div class="form-group">
    <label for="exampleInputPassword1">이미지 URL</label>
    <input name="url" type="text" class="form-control" id="exampleInputPassword1" placeholder="url 형태로 입력해주세요 ">
    <small id="emailHelp" class="form-text text-muted">ex)http://image.jpg</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!--제목, 내용, 태그, 이미지 -->