<!--새 블로그를 쓸 수 있는 페이지로 가는 링크를 만든다.-->


<button type="button" class="btn btn-info btn-lg btn-block"><a href="/blogs/new">새글쓰기</a></button>

<!--모든 블로그 글들의 제목을 나열한다.-->

<% @blogs.each do |b| %>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= b.title %></h5>
    <p class="card-text"><%= b.tag %></p>
    <a href="/blogs/show/<%= b.id %>" class="btn btn-primary">글 보러가기</a>
  </div>
</div>

<% end %>