<h1>게시판 입니다.</h1>
<form action="/create">
    제목 : <input type="text" name="title"><br>
    내용 : <input type="text" name="content"><br>
    <input type="submit">
</form>
<table>
    <tr>
        <th>ID</th>
        <th>제목</th>
        <th>작성일자</th>
    </tr>
    
    <% @posts.each do |p| %>
    <tr>
        <td><%= p.id %></td>
        <td> <a href="/show/<%= p.id %>"><%= p.title %></a></td>
        <td><%= p.created_at %></td>
    </tr>
    <% end %>

</table>